DEBUG=True
SECRET_KEY=somerandomstring
NEVERCACHE_KEY=anotherrandomstring
DJANGO_ALLOWED_HOSTS=whoheplayfor.com,localhost
POSTGRES_ENGINE=django.db.backends.postgresql
POSTGRES_DB=whpf
POSTGRES_USER=whpf
POSTGRES_HOST=localhost
POSTGRES_PASSWORD=whpf

ADMIN_NAMES=john,paul,ringo,george
ADMIN_EMAILS=john@sgtpeppers.co.uk,pmc@letitbe.com,starr@help.co.uk,george@yellowsubmarine.co.uk

EMAIL_ENABLED=False
SOCIAL_AUTH_ENABLED=False
SENTRY_SDK_ENABLED=False
