DEBUG=True
SECRET_KEY=somerandomstring
NEVERCACHE_KEY=anotherrandomstring
DJANGO_ALLOWED_HOSTS=whoheplayfor.com,localhost
POSTGRES_ENGINE=django.db.backends.postgresql_psycopg2
POSTGRES_DB=whpf
POSTGRES_USER=whpf
POSTGRES_HOST=localhost
POSTGRES_PASSWORD=whpf
