@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body{
  background-image: url('../img/bg.jpg');
  font-family: 'Montserrat', sans-serif;
}

.main-container {
  padding-top: 60px;  /* to account for the header */
  padding-bottom: 50px;  /* to account for the footer */
}

.footer {
  height: 40px;
  width: 100%;
  background-image: linear-gradient(to bottom, #3c3c3c 0px, #222 100%);
  background-repeat: repeat-x;
  border-color: #080808;
  background-color: #222;
}

.footer .social{
  line-height: 40px;
  color: #999;
}

.footer .social small{
  padding-right: 20px;
}

.footer .social a{
  color: #999;
  padding: 0 5px;
}

@media(max-width:767px){
  .navbar-fixed-top,
  .navbar-fixed-bottom{
    position: static;
  }

  .main-container{
    padding-top: 0;  /* to account for the header */
    padding-bottom: 0;  /* to account for the footer */
  }

  html, body {
      height: 100%;
  }

  .wrapper {
      min-height: 100%;
      margin: 0 auto -40px; /* the bottom margin is the negative value of the footer's height */
  }
  .footer, .push {
      height: 40px; /* .push must be the same height as .footer */
  }

  h3.your-guess{
    display: none;
  }

}

@media (max-width:991px) and (min-width:767px){
  .loginwith{
    display:none;
  }
}

.navbar-brand{
  padding-top: 2px;
  padding-bottom: 2px;
}

.navbar-brand img{
  height: 100%;
}

input[type="checkbox"]#advanced{
  display: none;
}

.home h1{
  margin-bottom: 25px;
}

.video{
  padding-top: 15px;
  padding-bottom: 15px;
}

.advanced-options{
  display: none;
}

.intro{
  margin-bottom: 30px;
}

.start-game{
  margin-bottom: 10px;
}

.game-info ul{
  padding-left: 0;
}

.partial-results{
  font-size: 3em;
}

.time-left{
  font-size: 3em;
}

.game-info ul{
  list-style: none;
}

.guess.disabled:hover{
  cursor:not-allowed;
}

.guess:hover{
  text-decoration: none;
}

#player{
  position: relative;
}

#guess-icons{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  text-align: center;
  font-size: 100px;
}

.guess-right, .guess-wrong{
  display: none;
}

.player-name{
  display: none;
}

.player-picture{
  display: inline-block;
  height: 0px;
  width: 0px;
  padding: 65px 115px;
}

.team-picture{
  width: 9%;
}

.team-picture:hover{
  background-color: #666;
  border-radius: 25px;
}

@media(max-width:991px) {
  .team-picture{
    width: 14%;
  }
}

@media(max-width:550px) {
  .team-picture{
    width: 19%;
  }
}

@media(max-width:349px) {
  .team-picture{
    width: 32%;
  }
}

.past-guesses{
  display: none;
}

.past-guesses img,
.result-guesses img{
  height: 80px;
}

.results,
.fail_results{
  display: none;
}

.view-user-profile:hover{
  text-decoration: none;
}

/* SCOREBOARD */
.scoreboard{
  background-color: rgba(249, 249, 249, 0.7);
}

.scoreboard tr{
  height: 55px;
}

.scoreboard .fa-circle{
  color: #666;
  color: rgba(0, 0, 0, 0.6);
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  vertical-align: middle;
}

.score a{
  color: #999;
}

.score a:hover{
  color: #666;
  text-decoration: none;
}

.score .trophy-stack{
  display: none;
}

.score.pos1 .trophy-stack,
.score.pos2 .trophy-stack,
.score.pos3 .trophy-stack{
  display: inline-block;
}

.score.pos1 .trophy{
  color: #CFB53B;
}

.score.pos2 .trophy{
  color: #E6E8FA;
}

.score.pos3 .trophy{
  color: #8C7853;
}

@media(max-width:991px) {
  .advanced-details{
    display: none;
  }
}


#faq .question p{
  line-height: 1.8;
}

