body{
  background-image: url('../img/bg.jpg');
}

.player-picture{
  display: inline-block;
  height: 0px;
  width: 0px;
  padding: 65px 115px;
}

.team-picture{
  width: 15%;
}

.past-guesses{
  display: none;
}

.past-guesses img,
.result-guesses img{
  height: 80px;
}

