{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <meta name="description" content="Based on the game played on Inside The NBA, comes the web version of Who He Play For?">

    <meta property="og:title" content="Who He Play For?" />
    <meta property="og:description" content="Based on the game played on Inside The NBA, comes the web version of Who He Play For?">
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{% static 'img/logo.png' %}">
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en" />


    {% include "favicons.html" %}

    <title>Who He Play For?</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

  </head>
  <body>
    <div class="wrapper">
      {% include "header.html" %}
      <div class="container main-container">
        {% block content %}{% endblock %}
      </div> <!-- container -->
      <div class="push"></div>
    </div>
    {% include "footer.html" %}

    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.16/clipboard.min.js"></script>
    <script>
      $('.clipboard').tooltip({
        trigger: 'click',
        placement: 'bottom'
      });

      function setTooltip(message) {
        $('.clipboard').tooltip('hide')
          .attr('data-original-title', message)
          .tooltip('show');
      }

      function hideTooltip() {
        setTimeout(function() {
          $('.clipboard').tooltip('hide');
        }, 1000);
      }

      var clipboard = new Clipboard('.clipboard');

      clipboard.on('success', function(e) {
        setTooltip('Copied!');
        hideTooltip();
      });

      clipboard.on('error', function(e) {
        setTooltip('Failed!');
        hideTooltip();
      });
    </script>


    {% block js %}{% endblock %}

    {% if not debug %}
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-623817-12"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-623817-12');
      </script>

    {% endif %}
  </body>
</html>
