<footer class="navbar-default navbar-fixed-bottom footer">
  <div class="container">
    <div class="social text-right">
      <small>Fepe55</small>
      <!-- <a href="http://fepe55.com/"><i class="fa fa-firefox" ></i></a> -->
      <a href="https://github.com/fepe55/"><i class="fa fa-github" ></i></a>
      <a href="https://reddit.com/u/fepe55/"><i class="fa fa-reddit-alien" ></i></a>
      <a href="https://twitter.com/fepe55"><i class="fa fa-twitter" ></i></a>
      <a href="https://steamcommunity.com/id/fepe55"><i class="fa fa-steam"></i></a>
    </div>
  </div>
</footer>
