{% load filters %}
{% load static %}
<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'whpf:home' %}"><img src="{% static 'img/logo.svg' %}" alt="Who he play for" /></a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'whpf:scoreboard' %}"><i class="fa fa-list-ol"></i> Scoreboard</a></li>
        <li><a href="{% url 'whpf:tv' %}"><i class="fa fa-tv"></i> WHPF on NBA TV</a></li>
        <!--
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Start new level <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Level 1</a></li>
            <li><a href="#">Level 2</a></li>
            <li><a href="#">Level 3</a></li>
            <li><a href="#">Level 4</a></li>
          </ul>
        </li>
        -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if user and not user.is_anonymous %}
        {% with user_info=user|get_user_info %}
          <li class="navbar-text"><i class="{{ user_info.icon_class }}"></i> <span>{{ user.get_full_name|default:user.username }} (<a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a>)</span></li>
        {% endwith %}
        {% else %}
          <li>
            <p class="navbar-text loginwith">Login using:</p>
          </li>
          <li>
              <a title="Reddit" href="{% url 'social:begin' 'reddit' %}?next={{ request.path }}">
                <i class="fa fa-reddit-alien"></i>
              </a>
          </li>
          <li>
              <a title="Google" href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">
                <i class="fa fa-google"></i>
              </a>
          </li>
          <li>
              <a title="Twitter" href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">
                <i class="fa fa-twitter"></i>
              </a>
          </li>
          <li>
              <a title="Facebook" href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">
                <i class="fa fa-facebook"></i>
              </a>
          </li>
        {% endif %}
      </ul>

    </div><!--/.nav-collapse -->
  </div>
</nav>
