{% extends "base.html" %}
{% block content %}
  <div class="row home">
    <div class="col-md-12">
      {% if not user.is_authenticated %}
        <div class="alert alert-warning" role="alert">
          <i class="fa fa-exclamation-triangle"></i> If you want your score to be saved, log in in the top right before you start
        </div>
      {% endif %}
      <h1>Start a new game</h1>
      <div class="intro">
        <p>Do you know where does {{ players_guessed_wrong.0 }} play? And {{ players_guessed_wrong.1 }}? {{ players_guessed_wrong.2 }}?</p>
        <p>Based on the game <a href="{% url 'whpf:tv' %}">played on Inside The NBA</a>, comes the web version of <strong>Who He Play For?</strong></p>
        <p>Don't know how to play? Hit Start and I think you'll figure it out</p>
      </div>
      <form method="POST" class="form" id="mainform" action="{% url 'whpf:home' %}">
        {% csrf_token %}
        <div class="advanced-options">
          {% if user.is_authenticated %}
          <div class="alert alert-danger" role="alert">
            <i class="fa fa-exclamation-triangle"></i> If you change the advanced options, your score <strong>will not</strong> count towards the leaderboard. <a href="{% url 'whpf:home' %}">Reset the options</a>.
          </div>
          {% endif %}

          <div class="form-group">
            {{ form.time.errors }}
            <label for="{{ form.time.id_for_label }}">Time</label>
            {{ form.time }}
          </div>

          <div class="form-group">
            {{ form.rounds.errors }}
            <label for="{{ form.rounds.id_for_label }}">Rounds</label>
            {{ form.rounds }}
          </div>

          <div class="form-group">
            {{ form.limit_teams.errors }}
            <label for="{{ form.limit_teams.id_for_label }}">Limit teams</label>
            {{ form.limit_teams }}
          </div>

          <div class="form-group">
            {{ form.shuffle_teams.errors }}
            <label for="{{ form.shuffle_teams.id_for_label }}">Shuffle teams positions</label>
            {{ form.shuffle_teams }}
          </div>

          <div class="form-group">
            {{ form.show_player_name.errors }}
            <label for="{{ form.show_player_name.id_for_label }}">Show player name</label>
            {{ form.show_player_name }}
          </div>

          <div class="form-group hide">
            {{ form.hard_mode.errors }}
            <label for="{{ form.hard_mode.id_for_label }}">Hard mode</label>
            {{ form.hard_mode }}
          </div>

          <input type="checkbox" id="advanced" name="advanced" />
        </div>

        <div class="btn-group btn-group-justified start_game_buttons" role="group" aria-label="start game">
          <div class="btn-group" role="group">
            <button id="normal" class="btn btn-primary btn-lg start-game">Normal mode</button>
          </div>
          <div class="btn-group" role="group">
            <button id="hard" class="btn btn-danger btn-lg start-game">Hard mode</button>
          </div>
        </div>
        <a class="show-advanced-options" href="#">Show advanced options</a>

      </form>
      {% if last_roster_update %}
        <p class="muted text-right rosters-usage-info">Rosters updated as of <strong>{{ last_roster_update }}</strong><br /><a href="{% url 'whpf:home' %}"><strong>Who He Play For?</strong></a> has been played <strong>{{ total_plays }}</strong> times</p>
      {% endif %}
    </div>
  </div>
  {% comment %}
  <div class="row home" style="margin-top: 20px;">
    <div class="col-md-12">
      <div id="disqus_thread"></div>
      <script>

       var disqus_config = function () {
         this.page.url = "{{ request.build_absolute_uri }}";
         this.page.identifier = "home";
       };
      (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://whoheplayfor.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
  </div>
  {% endcomment %}

{% endblock %}

{% block js %}
  <script>
    $("select").addClass("form-control");
  </script>

  <script>
  $(".start_game_buttons button").click(function(e){
    e.preventDefault();
    if ($(this).prop('id') == 'hard'){
      $("#id_hard_mode").prop("checked", true);
    }
    if ($(this).prop('id') == 'normal'){
      $("#id_hard_mode").prop("checked", false);
    }
    $("#mainform").submit();
  });
  </script>

  <script>
    $(".show-advanced-options").click(function(e){
      e.preventDefault();
      $(".advanced-options").slideDown();
      $("#advanced").prop("checked", true);
      $(this).hide();
    });
  </script>
{% endblock %}
