{% extends "base.html" %}
{% block content %}
  <div class="row home">
    <div class="col-md-12">
      {% if not user.is_authenticated %}
        <div class="alert alert-warning" role="alert">
          <i class="fa fa-exclamation-triangle"></i> If you want your score to be saved, log in in the top right before you start
        </div>
      {% endif %}
      <h1>Start a new game</h1>
      <div class="intro">
        <p>Do you know where does Tony Wroten play? And Willie Green? Chase Budinger?</p>
        <p>Based on the game <a href="{% url 'whpf:tv' %}">played on Inside The NBA</a>, comes the web version of <strong>Who He Play For?</strong></p>
        <p>Don't know how to play? Hit Start and I think you'll figure it out</p>
      </div>
      <form method="POST" class="form" action="{% url 'whpf:home' %}">
        {% csrf_token %}
        <div class="advanced-options">
          {% if user.is_authenticated %}
          <div class="alert alert-danger" role="alert">
            <i class="fa fa-exclamation-triangle"></i> If you change the advanced options, your score <strong>will not</strong> count towards the leaderboard. <a href="{% url 'whpf:home' %}">Reset the options</a>.
          </div>
          {% endif %}

          <div class="form-group">
            {{ form.time.errors }}
            <label for="{{ form.time.id_for_label }}">Time</label>
            {{ form.time }}
          </div>

          <div class="form-group">
            {{ form.rounds.errors }}
            <label for="{{ form.rounds.id_for_label }}">Rounds</label>
            {{ form.rounds }}
          </div>

          <div class="form-group">
            {{ form.limit_teams.errors }}
            <label for="{{ form.limit_teams.id_for_label }}">Limit teams</label>
            {{ form.limit_teams }}
          </div>

          <div class="form-group">
            {{ form.shuffle_teams.errors }}
            <label for="{{ form.shuffle_teams.id_for_label }}">Shuffle teams positions</label>
            {{ form.shuffle_teams }}
          </div>

          <div class="form-group">
            {{ form.show_player_name.errors }}
            <label for="{{ form.show_player_name.id_for_label }}">Show player name</label>
            {{ form.show_player_name }}
          </div>

          <input type="checkbox" id="advanced" name="advanced" />
        </div>

        <button type="submit" class="btn btn-primary btn-lg btn-block start-game">Start</button>
        <a class="show-advanced-options" href="#">Show advanced options</a>

      </form>
      {% if last_roster_update %}
        <p class="muted text-right">Rosters updated as of <strong>{{ last_roster_update }}</strong></p>
      {% endif %}
    </div>
  </div>

{% endblock %}

{% block js %}
  <script>
    $("select").addClass("form-control");
  </script>

  <script>
    $(".show-advanced-options").click(function(e){
      e.preventDefault();
      $(".advanced-options").slideDown();
      $("#advanced").prop("checked", true);
      $(this).hide();
    });
  </script>
{% endblock %}
