{% extends "base.html" %}
{% load filters %}
{% block content %}
  <div class="row">
    <h1>Scoreboard</h1>
    <table class="table table-hover scoreboard">
      <thead>
        <tr>
          <th></th>
          <th>User</th>
          <th>Score</th>
          <th style="width: 9%" class="advanced-details">Show Player Name</th>
          <th style="width: 9%" class="advanced-details">Shuffle teams</th>
          <th class="advanced-details">Time</th>
          <th class="advanced-details">Rounds</th>
          <th>Result</th>
        </tr>
      </thead>
      <tbody>
        {% for score in scores %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <th class="score pos{{ forloop.counter}}">
            {% with user_info=score.user|get_user_info %}
              {% if user_info.url %}
                <a title="View user profile" href="{{ user_info.url }}">
                  <i class="{{ user_info.icon_class }}"></i>
                </a>
              {% else %}
                <i class="{{ user_info.icon_class }}"></i>
              {% endif %}
              {{ score.user.get_full_name|default:score.user.username }}
            {% endwith %}
            <span class="fa-stack fa-lg trophy-stack">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-trophy trophy fa-stack-1x"></i>
            </span>
          </th>
          <td>{{ score.score }}</td>
          <td class="advanced-details">{% if score.show_player_name %}<i class="fa fa-check"></i>{% else %}<i class="fa fa-times"></i>{% endif %}</td>
          <td class="advanced-details">{% if score.shuffle_teams %}<i class="fa fa-check"></i>{% else %}<i class="fa fa-times"></i>{% endif %}</td>
          <td class="advanced-details">{% if time %}{{ score.time }}{% else %}Unlimited{% endif %}</td>
          <td class="advanced-details">{{ score.rounds }}</td>
          <td><a href="{% url 'whpf:results' score.code %}">View details</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
