{% for item in list %}
<div class="row" style="margin-bottom: 20px;">
  <div class="col-xs-6 vcenter">
    <div class="text-center">
      {% if item.stats_url %}
      <a href="{{ item.stats_url }}">
      {% endif %}
      <img src="{{ item.picture }}" alt="{{ item.city }} {{ item.name }}" style="height: 50px;" data-toggle="tooltip" data-placement="bottom" title="{{ item.city }} {{ item.name }}" />
      {% if item.stats_url %}
      </a>
      {% endif %}

    </div>
  </div><!--
  --><div class="col-xs-6 vcenter" data-toggle="tooltip" data-placement="bottom" title="Right: {{ item.times_guessed_right }}. Wrong: {{ item.times_guessed_wrong }}">
    <div class="progress" style="margin-bottom: 0px;">
      <div class="progress-bar progress-bar-success" style="width: {{ item.times_guessed_pct }}%">
        <span class="sr-only">{{ item.times_guessed_right }} times guessed right</span>
      </div>
      <div class="progress-bar progress-bar-danger" style="width: {{ item.times_guessed_wrong_pct }}%">
        <span class="sr-only">{{ item.times_guessed_wrong }} times guessed wrong</span>
      </div>
    </div>
    <p class="text-center" style="margin: -20px 0 0 0; color:white;"><small>{{ item.times_guessed_pct }}%</small></p>
  </div>
</div>
{% endfor %}
