{% extends "base.html" %}
{% block content %}

  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
    <h3 id="wrong">Guessed wrong</h2>
    {% include 'stats_aux.html' with list=players_guessed_wrong %}
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">
    <h3 id="right">Guessed right</h2>
    {% include 'stats_aux.html' with list=players_guessed_right %}
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">
    <h3 id="west">West</h3>
    {% include 'stats_aux.html' with list=west_teams %}
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">
    <h3 id="east">East</h3>
    {% include 'stats_aux.html' with list=east_teams %}
    </div>

  </div>

  {% comment %}
  <div class="col-md-6">
  <h2 id="total">Top 12 appearances</h2>
  {% include 'stats_aux.html' with list=players %}
  </div>
  {% endcomment %}

{% endblock %}

{% block js %}
  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>

  <script>
    function goto_hash(hash){
      if (hash != ""){

        id = hash.substring(hash.indexOf("#")+1);
        console.log(id);

        $('html, body').animate({
          scrollTop: $("#"+id).offset().top - 55
        }, 1000);

      };
    };

    window.location.hash = "";

    $("ul.menu a").click(function(e){
      e.preventDefault();
      hash = $(this).attr('href');
      goto_hash(hash);
    });
  </script>
{% endblock %}
