{% extends "base.html" %}
{% load filters %}
{% block content %}
  <div class="game">
    <div class="row">
      <div class="col-xs-3 game-info">
        <ul>
          <li class="score">Score<br /><small class="partial-results"><span class="guessed">0</span>/<span class="total">0</span></small></li>
        </ul>
      </div>
      <div class="col-xs-push-6 col-xs-3 game-info timer text-right">
        <ul>
          <li>Time left<br /><span class="time-left"></span></li>
        </ul>
      </div>

      <div class="col-xs-6 col-xs-pull-3 text-center player">
        <h2 class="player-name"></h2>
        <!-- <i class="text-success fa fa-check fa-4x guess-right"></i> -->
        <!-- <i class="text-danger fa fa-close fa-4x guess-wrong"></i> -->

        <div id="player" style="position: relative;">
          <div id="guess-icons">
            <i class="text-success fa fa-check guess-right"></i>
            <i class="text-danger fa fa-close guess-wrong"></i>
          </div>
          <img class="player-picture" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <h3 class="your-guess">Your guess</h3>
        <div id="teams" class="row">
        {% if west and east %}

          <div class="col-sm-6 conference">
          {% for team in west %}
            <a href="#" class="guess" data-team='{{ team|tojson|safe }}'>
              <img data-toggle="tooltip" title="{{ team.city }} {{ team.name }}" class="team-picture" id="{{ team.code }}" src="{{ team.picture }}" />
            </a>
          {% endfor %}
          </div>
          <div class="col-sm-6 conference">
          {% for team in east %}
            <a href="#" class="guess" data-team='{{ team|tojson|safe }}'>
              <img data-toggle="tooltip" title="{{ team.city }} {{ team.name }}" class="team-picture" id="{{ team.code }}" src="{{ team.picture }}" />
            </a>
          {% endfor %}
          </div>

        {% else %}
          <div class="col-md-12 all-together">
          {% for team in teams %}
            <a href="#" class="guess" data-team='{{ team|tojson|safe }}'>
              <img data-toggle="tooltip" title="{{ team.city }} {{ team.name }}" class="team-picture" id="{{ team.code }}" src="{{ team.picture }}" />
            </a>
          {% endfor %}
          </div>
        {% endif %}
        </div>
      </div>
    </div> <!-- row -->
  </div>

  <div class="row fail_results">
    <div class="col-md-12">
      <h1>What was that?</h1>
      <a class="btn btn-primary btn-lg" href="{% url 'whpf:home' %}">Play again</a>
    </div>
  </div>
  <div class="row results">
    <div class="col-md-12">
      {% comment %}
      <h1>Final result: <span class="guessed"></span>/<span class="total"></span>. Score: <span class="final_score"></span></h1>
      {% endcomment %}
      <h1>Final score<small><a href="{% url 'whpf:faq' %}#scores"><sup>1</sup></a></small>: <span class="final_score"></span></h1>

      <div class="form-group">
        <label for="share">Share your result</label>
        <div class="input-group">
          <input type="text" class="form-control" name="share" id="share" />
          <span class="input-group-btn">
            <button class="btn btn-default clipboard" type="button" data-clipboard-target="#share">
              <i class="fa fa-clipboard" aria-hidden="true"></i> <small>Copy!</small>
            </button>
          </span>
        </div>
      </div>
      <a class="btn btn-primary btn-lg" href="{% url 'whpf:home' %}">Play again</a>
    </div>
  </div>

  <div class="row past-guesses">
    <div class="col-md-12">
      <h1>Past guesses</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Round</th>
            <th class="text-center">Player</th>
            <th class="text-center">Your guess</th>
            <th class="text-center">Correct guess</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script>
    // val: Value to pad
    // width: Width of padding
    // chart to pad with. Defaults to '0'
    function pad(val, width, z) {
      var z = z || '0';
      val = val + '';
      return val.length >= width ? val : new Array(width - val.length + 1).join(z) + val;
    };

    function ajax_call(url, callback){
      $.ajax({
        url: url,
        type: "POST",
        success:function(response){
          if (typeof callback === 'function'){
            callback(response);
          }
        },
        error:function (xhr, textStatus, thrownError){
          console.log("Error");
          console.log(xhr);
          console.log(textStatus);
          console.log(thrownError);
        }
      });

    }
  </script>

  <script>
    function start_timer(){
      var time_left = game_status['time_limit'];
      $(".time-left").html(time_left);
      game_status['timer'] = setInterval(function(){
        time_left -= 1;
        game_status['time_left'] = time_left;

        $(".time-left").html(time_left);

        if ((time_left < 10) && (time_left > 0)){
          $(".time-left").addClass("text-danger");
          $(".time-left").animate({opacity: 0.25}).animate({opacity: 1});
        };

        if (time_left == 0){
          $(".time-left").removeClass("text-danger");
          end_game();
        };
      }, 1000);
    };


    $(document).ready(function(){
      initialize();
      start_round();
    });


    $("a.guess").click(function(e){
      e.preventDefault();
      if (!$(this).data("disabled")){
        $("a.guess").data("disabled", true);
        $("a.guess").addClass("disabled");
        var team = $(this).data("team");
        react(team, function(){
          $("a.guess").data("disabled", false);
          $("a.guess").removeClass("disabled");
        });
      };
    });


    function initialize(){
      // 24 - Start the game already
      $('html, body').animate({
        scrollTop: $(".game").offset().top
      }, 1);

      window.players = {{ players|tojson|safe }};
      window.player = null;
      window.past_players_id = [];

      window.game_status = {
        'timer': null,
        'total_rounds': {{ game_info.rounds }},
        'round': 1,
        'guessed': 0,
        'hard_mode': {% if game_info.hard_mode %} true {% else %} false {% endif %},
        'show_player_name': {% if game_info.show_player_name %} true {% else %} false {% endif %},
        'shuffle_teams': {% if game_info.shuffle_teams %} true {% else %} false {% endif %},
        'code': "",
        'time_limit': {{ game_info.time }},
        'time_left': {{ game_info.time }},  // Will be decreasing
        'limit_teams': '{{ game_info.limit_teams }}',
      };
      if (game_status['time_limit'] != 0){
        start_timer();
      } else {
        $(".time-left").parent().hide();
      }
      level_initialize();
    };


    function level_initialize(){
      if (game_status['show_player_name']){
        $('.player-name').show();
      };
    };


    function level_setup(){
      if (game_status['shuffle_teams']){
        var parent = $("#teams");
        var children = parent.children();
        while (children.length) {
            parent.append(children.splice(Math.floor(Math.random() * children.length), 1)[0]);
        }
      }
    };


    function start_round(){
      level_setup();

      var total = game_status['round'] - 1;
      $(".guessed").html(game_status['guessed']);
      $(".total").html(total);
      // $(".round").html(game_status['round']);

      if (player != null){
        past_players_id.push(player.nba_id);
      }
      // If we've used every player, we start over by resetting the past_players_id list
      if (players.length == past_players_id.length){
        past_players_id = [];
      };
      var repeated = true;
      while(repeated){
        player = players[Math.floor(Math.random() * players.length)];
        if ($.inArray(player.nba_id, past_players_id) == -1){
          repeated = false;
        };
      };

      $(".player-name").html(player.name);
      $(".player-picture").css("background-image", "url('" + player.picture + "')");

      if (total == game_status['total_rounds']){
        end_game();
      }
    };

    function advance_round(team, callback){
      game_status['round'] += 1;
      game_status['code'] += pad(player.nba_id.toString(), 8);
      game_status['code'] += team.nba_id.toString().slice(-2);
      game_status['code'] += player.team.nba_id.toString().slice(-2);
      callback();
      start_round();
    };

    function react(team, callback){
      if (team.code == player.team.code){
        correct_guess(team, callback);
      } else {
        wrong_guess(team, callback);
      }
      // advance_round(team);
    };


    function end_game(){
      // Hide the game
      clearInterval(game_status['timer']);
      var total = game_status['round'] - 1;
      $(".guessed").html(game_status['guessed']);
      $(".total").html(total);
      $(".round").html(game_status['round']);

      $(".game").hide();
      // $(".game-info").hide();

      // Add the number of rounds selected at the start to play
      var total_rounds = game_status['total_rounds'];
      game_status['code'] = pad(total_rounds.toString(), 3) + game_status['code'];

      // Add the number of rounds played to the code
      game_status['code'] = pad(total.toString(), 3) + game_status['code'];


      // Add the time selected at the start
      var time_limit = game_status['time_limit'];
      game_status['code'] = pad(time_limit.toString(), 3) + game_status['code'];

      // Add the time left when it finished
      var time_left = game_status['time_left'];
      game_status['code'] = pad(time_left.toString(), 3) + game_status['code'];

      // Add the limit_teams value
      var limit_teams = game_status['limit_teams'];
      game_status['code'] = pad(limit_teams.toString(), 2) + game_status['code'];

      if (game_status['shuffle_teams']){
        game_status['code'] = '1' + game_status['code'];
      } else {
        game_status['code'] = '0' + game_status['code'];
      };

      if (game_status['show_player_name']){
        game_status['code'] = '1' + game_status['code'];
      } else {
        game_status['code'] = '0' + game_status['code'];
      };

      if (game_status['hard_mode']){
        game_status['code'] = '1' + game_status['code'];
      } else {
        game_status['code'] = '0' + game_status['code'];
      };


      // Random garbage
      var random_number = Math.floor(1+Math.random()*20);
      for(var i=0; i<random_number; i++){
        game_status['code'] += Math.floor(1+Math.random()*9).toString();
      };

      // Version number
        game_status['code'] = 'v001' + game_status['code'];

      // TODO: Obfuscate?
      // var code = game_status['code'];
      // var new_code = "";
      // var N = 10;
      // for (var i=0; i < code.length; i+=N){
      //   slice = code.slice(i, i + N);
      //   new_code += parseInt(slice).toString(16);
      // };

      // Add an input to share the result
      input = $(".results input").val("{{ request|get_domain_url }}" + "results/" + game_status['code']);
      var guessed = game_status['guessed'];
      var round = game_status['round'];
      if (round > 1){
        var score_url_mask = "{% url 'whpf:score' 12345 %}".replace(/12345/, game_status['code'].toString());
        ajax_call(score_url_mask, function(response){
          $(".final_score").html(response.score);
        });

        $(".results").show();

        {% if user.is_authenticated %}
          var url_mask = "{% url 'whpf:save' 12345 %}".replace(/12345/, game_status['code'].toString());
          ajax_call(url_mask);
        {% endif %}


      } else {
        $(".fail_results").show();
      };
    };


    function correct_guess(team, callback){
      game_status['guessed'] += 1;

      var url_mask = "{% url 'whpf:right_guess' 12345 %}".replace(/12345/, player.nba_id.toString());
      ajax_call(url_mask);

      add_past_guess("success", team);
      $(".guess-right").fadeIn( 100 ).delay( 200 ).fadeOut(100, function(){
        advance_round(team, callback);
      });
    };


    function wrong_guess(team, callback){
      var url_mask = "{% url 'whpf:wrong_guess' 12345 %}".replace(/12345/, player.nba_id.toString());
      ajax_call(url_mask);

      add_past_guess("danger", team);
      $(".guess-wrong").fadeIn( 100 ).delay( 200 ).fadeOut(100, function(){
        advance_round(team, callback);
      });
    };


    function add_past_guess(classs, team){
      var tr = $("<tr />");
      tr.attr("class", classs);

      th_round = $("<th />", {
        "scope": "row",
        "style": "vertical-align: middle",
      }).html('<span class="fa-stack fa-2x"><i class="fa fa-circle fa-stack-2x"></i><strong class="fa-stack-1x" style="color: white;">' + game_status['round'] + '</strong></span>');
      img_player = $("<img />", {
        'src': player.picture,
        'title': player.name,
      });
      td_player = $("<td />", {'class': 'text-center'}).append(img_player);
      img_guess = $("<img />", {
        'src': team.picture,
        'title': team.city + " " + team.name,
      });
      td_your_guess = $("<td />", {'class': 'text-center'}).append(img_guess);
      img_answer = $("<img />", {
        'src': player.team.picture,
        'title': player.team.city + " " + player.team.name,
      });
      td_answer = $("<td />", {'class': 'text-center'}).append(img_answer);

      tr.append(th_round);
      tr.append(td_player);
      tr.append(td_your_guess);
      tr.append(td_answer);

      var table = $(".past-guesses tbody");
      table.prepend(tr);
      $(".past-guesses").show();
    };
  </script>

  <script>
  // using jQuery
  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
      var cookies = document.cookie.split(';');
      for (var i = 0; i < cookies.length; i++) {
        var cookie = jQuery.trim(cookies[i]);
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) == (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }


  function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  };
  var csrftoken = getCookie('csrftoken');
  $.ajaxSetup({
    beforeSend: function(xhr, settings) {
      if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken);
      }
    }
  });
  </script>

{% endblock %}
