{% extends "base.html" %}
{% block content %}
  <div class="row">
    <div class="col-md-12">
      <h1>Start a new game</h1>
      <p>Do you know where does Tony Wroten play? And Willie Green? Chase Budinger?</p>
      <p>Based on the game <a href="{{ url_for ('tv') }}">played on Inside The NBA</a>, comes the web version of <strong>Who He Play For?</strong></p>
      <form method="POST" class="form" action="{{ url_for('home') }}">
        <div class="advanced-options">
          <div class="form-group">
            <label for="time">Time</label>
            <select id="time" class="form-control" name="time">
              <option value="30">30 seconds</option>
              <option value="60" selected>60 seconds</option>
              <option value="90">90 seconds</option>
              <option value="0">Unlimited</option>
            </select>
          </div>

          <div class="form-group">
            <label for="rounds">Round limit</label>
            <select id="rounds" class="form-control" name="rounds">
              <option value="10">10</option>
              <option value="20" selected>20</option>
              <option value="30">30</option>
            </select>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" id="shuffle_teams" name="shuffle_teams" />Shuffle teams positions
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" id="show_player_name" name="show_player_name" checked />Show player name
            </label>
          </div>
          <input type="checkbox" id="advanced" name="advanced" />
        </div>

        <a class="show-advanced-options" href="#">Show advanced options</a>
        <button type="submit" class="btn btn-primary btn-lg btn-block">Start</button>

      </form>
    </div>
  </div>

{% endblock %}

{% block js %}
  <script>
    $(".show-advanced-options").click(function(e){
      e.preventDefault();
      $(".advanced-options").slideDown();
      $("#advanced").prop("checked", true);
      $(this).hide();
    });
  </script>
{% endblock %}
