{% extends "base.html" %}
{% block content %}
  <div class="game">
    <div class="row">
      <div class="col-sm-3 col-xs-6 game-info">
        <ul>
          <li class="score">Score<br /><small class="partial-results"><span class="guessed">0</span>/<span class="total">0</span></small></li>
        </ul>
      </div>
      <div class="col-sm-push-6 col-sm-3 col-xs-6 game-info timer text-right">
        <ul>
          <li>Time left<br /><span class="time-left"></span></li>
        </ul>
      </div>

      <div class="col-sm-6 col-sm-pull-3 col-xs-12 text-center player">
        <h2 class="player-name"></h2>
        <!-- <i class="text-success fa fa-check fa-4x guess-right"></i> -->
        <!-- <i class="text-danger fa fa-close fa-4x guess-wrong"></i> -->

        <div id="player" style="position: relative;">
          <div id="guess-icons">
            <i class="text-success fa fa-check guess-right"></i>
            <i class="text-danger fa fa-close guess-wrong"></i>
          </div>
          <img class="player-picture" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <h3>Your guess</h3>
        <div id="teams">
        {% for team in teams %}
          <a href="#" class="guess" data-team='{{ team|tojson }}'>
            <img data-toggle="tooltip" title="{{ team.city }} {{ team.name }}" class="team-picture" id="{{ team.code }}" src="{{ team.picture }}" />
          </a>
        {% endfor %}
        </div>
      </div>
    </div> <!-- row -->
  </div>

  <div class="row fail_results">
    <div class="col-md-12">
      <h1>What was that?</h1>
      <a class="btn btn-primary btn-lg" href="{{ url_for('home') }}">Play again</a>
    </div>
  </div>
  <div class="row results">
    <div class="col-md-12">
      <h1>Final result: <span class="guessed"></span>/<span class="total"></span></h1>

      <div class="form-group">
        <label for="share">Share your result</label>
        <input type="text" class="form-control" name="share" />
      </div>
      <a class="btn btn-primary btn-lg" href="{{ url_for('home') }}">Play again</a>
    </div>
  </div>

  <div class="row past-guesses">
    <div class="col-md-12">
      <h1>Past guesses</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Round</th>
            <th class="text-center">Player</th>
            <th class="text-center">Your guess</th>
            <th class="text-center">Correct guess</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script>
    function start_timer(){
      var time_left = game_status['time_limit'];
      $(".time-left").html(time_left);
      game_status['timer'] = setInterval(function(){
        time_left -= 1;
        $(".time-left").html(time_left);

        if ((time_left < 10) && (time_left > 0)){
          $(".time-left").addClass("text-danger");
          $(".time-left").animate({opacity: 0.25}).animate({opacity: 1});
        };

        if (time_left == 0){
          $(".time-left").removeClass("text-danger");
          end_game();
        };
      }, 1000);
    }


    $(document).ready(function(){
      initialize();
      start_round();
    });


    $("a.guess").click(function(e){
      e.preventDefault();
      var team = $(this).data("team");
      react(team);
    });


    function initialize(){
      window.players = {{ players|tojson }};
      window.player = null;
      window.past_players_id = [];

      window.game_status = {
        'timer': null,
        'total_rounds': {{ game_info.rounds }},
        'round': 1,
        'guessed': 0,
        'show_player_name': {% if game_info.show_player_name %} true {% else %} false {% endif %},
        'shuffle_teams': {% if game_info.shuffle_teams %} true {% else %} false {% endif %},
        'code': "",
        'time_limit': {{ game_info.time }},
      };
      if (game_status['time_limit'] != 0){
        start_timer();
      } else {
        $(".time-left").parent().hide();
      }
      level_initialize();
    };


    function level_initialize(){
      if (game_status['show_player_name']){
        $('.player-name').show();
      };
    };


    function level_setup(){
      if (game_status['shuffle_teams']){
        var parent = $("#teams");
        var children = parent.children();
        while (children.length) {
            parent.append(children.splice(Math.floor(Math.random() * children.length), 1)[0]);
        }
      }
    };


    function start_round(){
      level_setup();

      var total = game_status['round'] - 1;
      $(".guessed").html(game_status['guessed']);
      $(".total").html(total);
      // $(".round").html(game_status['round']);

      if (player != null){
        past_players_id.push(player.id);
      }
      var repeated = true;
      console.log(past_players_id);
      while(repeated){
        player = players[Math.floor(Math.random() * players.length)];
        if ($.inArray(player.id, past_players_id) == -1){
          repeated = false;
        };
      };

      $(".player-name").html(player.name);
      $(".player-picture").css("background-image", "url('" + player.picture + "')");

      if (total == game_status['total_rounds']){
        end_game();
      }
    };


    function advance_round(team){
      game_status['round'] += 1;
      var pad = "00000000";
      // Padded player ID
      game_status['code'] += pad.slice(0, 8 - player.id.toString().length) + player.id;
      // Team id
      game_status['code'] += team.id.toString().slice(-2);
      start_round();
    };

    function react(team){
      if (team.code == player.team.code){
        correct_guess(team);
      } else {
        wrong_guess(team);
      }
      advance_round(team);
    };


    function end_game(){
      // Hide the game and the partial result
      clearInterval(game_status['timer']);
      var total = game_status['round'] - 1;
      $(".guessed").html(game_status['guessed']);
      $(".total").html(total);
      $(".round").html(game_status['round']);

      $(".game").hide();
      $(".game-info").hide();

      // Add the total number of rounds to the code
      var padding = '000';
      var total_padded = padding.slice(0, padding.length-(total.toString().length)) + total.toString();
      game_status['code'] = total_padded + game_status['code'];

      var time_limit = game_status['time_limit'];
      var time_limit_padded = padding.slice(0, padding.length-(time_limit.toString().length)) + time_limit.toString();
      game_status['code'] = time_limit_padded + game_status['code'];

      if (game_status['shuffle_teams']){
        game_status['code'] = '1' + game_status['code'];
      } else {
        game_status['code'] = '0' + game_status['code'];
      };

      if (game_status['show_player_name']){
        game_status['code'] = '1' + game_status['code'];
      } else {
        game_status['code'] = '0' + game_status['code'];
      };

      // Random garbage
      var random_number = Math.floor(1+Math.random()*20);
      for(var i=0; i<random_number; i++){
        game_status['code'] += Math.floor(1+Math.random()*9).toString();
      };

      //TODO: Obfuscate?
      var code = game_status['code'];
      var new_code = "";
      var N = 10;
      for (var i=0; i < code.length; i+=N){
        slice = code.slice(i, i + N);
        new_code += parseInt(slice).toString(16);
      };

      // Add an input to share the result
      input = $(".results input").val("{{ request.url_root }}" + "results/" + game_status['code']);
      var guessed = game_status['guessed'];
      var round = game_status['round'];
      if (round > 1){
        $(".results").show();
      } else {
        $(".fail_results").show();
      };
    };


    function correct_guess(team){
      game_status['guessed'] += 1;

      $(".guess-right").fadeIn( 100 ).delay( 200 ).fadeOut(100);
      add_past_guess("success", team);
    };


    function wrong_guess(team){
      $(".guess-wrong").fadeIn( 100 ).delay( 200 ).fadeOut(100);
      add_past_guess("danger", team);
    };


    function add_past_guess(classs, team){
      var tr = $("<tr />");
      tr.attr("class", classs);

      th_round = $("<th />", {
        "scope": "row",
        "style": "vertical-align: middle",
      }).html('<span class="fa-stack fa-2x"><i class="fa fa-circle fa-stack-2x"></i><strong class="fa-stack-1x" style="color: white;">' + game_status['round'] + '</strong></span>');
      img_player = $("<img />", {
        'src': player.picture,
        'title': player.name,
      });
      td_player = $("<td />", {'class': 'text-center'}).append(img_player);
      img_guess = $("<img />", {
        'src': team.picture,
        'title': team.city + " " + team.name,
      });
      td_your_guess = $("<td />", {'class': 'text-center'}).append(img_guess);
      img_answer = $("<img />", {
        'src': player.team.picture,
        'title': player.team.city + " " + player.team.name,
      });
      td_answer = $("<td />", {'class': 'text-center'}).append(img_answer);

      tr.append(th_round);
      tr.append(td_player);
      tr.append(td_your_guess);
      tr.append(td_answer);

      var table = $(".past-guesses tbody");
      table.prepend(tr);
      $(".past-guesses").show();
    };
  </script>

{% endblock %}
